<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>顧客・予約管理システム</h1>
  <p>このアプリケーションでは、登録されたユーザーの顧客情報を閲覧・登録・編集することができます。</p>
  <%= link_to "ユーザー登録", signup_path, class: "btn btn--lg btn-primary" %>
</div>


