<% provide(:title, @user.name) %>

<h1>ユーザー情報</h1>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>名前</td>
      <td>メールアドレス</td>
      
    </tr>

    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      
    </tr>
  </table>

  <h2>カレンダー</h2>
  <%= month_calendar do |date| %>
    <div>
      <%= link_to date.day, week_calendar_path(start_date: date) %>
    </div>
  <% end %>
</div>