<h1>予約一覧</h1>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>予約開始時間</th>
      <th>ユーザー名</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.day.strftime("%Y年%m月%d日") %></td>
        <td><%= reservation.start_time.strftime("%H:%M") %></td>
        <td><%= reservation.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>