<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>予約画面</h1>
      <p>〇: 予約可能  ✕: 予約不可</p>
    </div>
    <div class="col-12 mt-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>時間帯</th>
            <% @date_range.each do |day| %>
              <th><%= t('date.abbr_day_names')[day.wday] %><br><%= day.strftime("%e") %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% times.each do |time| %>
            <tr>
              <td><%= time %></td>
              <% @reservation_data.each do |data| %>
                <% reservations_for_day = data[:reservations] %>
                <% reservation_exist = check_reservation(reservations_for_day, data[:day], time) %>
                <td>
                  <% if reservation_exist %>
                    ✕
                  <% else %>
                    <%= link_to '○', new_reservation_path(day: data[:day], time: time) %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>