<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>予約画面</h1>
      <p>〇: 予約可能  ✕: 予約不可</p>
    </div>
    <div class="col-12 mt-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>時間帯</th>
            <% @date_range.each do |day| %>
              <th><%= t('date.abbr_day_names')[day.wday] %><br><%= day.strftime("%e") %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% times.each do |time_str| %>
            <% time = Time.parse(time_str) %>
            <tr>
              <td><%= time.strftime("%H:%M") %></td>
              <% @reservation_data.each do |data| %>
                <% reservations_for_day = data[:reservations] %>
                <% reservation = reservations_for_day.find { |r| r.start_time.hour == time.hour && r.start_time.min == time.min } %>
                <td>
                  <% if reservation.present? %>
                    ✕
                  <% else %>
                    <% if Time.current <= data[:day].to_datetime + time.seconds_since_midnight %>
                      <%= link_to '○', new_reservation_path(day: data[:day], time: time) %>
                    <% else %>
                      ✕
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>