/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.closed-day {
  color: white;
  background-color: #dc3545;
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 0.8em;
  margin-top: 2px;
  text-align: center;
}
/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }
}